html {
    background: black;
}
body {
    background: url(images/background_inca.svg);
    background-repeat: repeat;
    background-size: 200px 200px;
}

main {
    margin-top: 100px;
    margin-bottom: 24px;
}


@media screen and (max-width: 767.98px) {
    main {
      margin-top: 106px;
      margin-bottom: 64px;
    }
}

.mask {
    background-color: rgba(255, 255, 255, 0.9)
}

